.create-item-master {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 366px;
  margin: 0px auto;
}

.create-item-form {
  flex: auto;
  margin-bottom: 64px;
}

.create-item-h1 {
}

#upload-photos {
  margin-bottom: 8px;
}

.item-photos-upload-container {
  display: flex;
  flex-direction: column;
  height: 324.5px;
  width: 324.5px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.item-photos-top-row {
  height: 50%;
  display: flex;
  box-sizing: border-box;
}

.item-photos-bottom-row {
  height: 50%;
  display: flex;
  box-sizing: border-box;
}

.item-photo-upload-button {
  height: 100%;
  width: 50%;
  padding: 4px;
  box-sizing: border-box;
}

.item-photo-holder > input {
  cursor: pointer;
  display: block;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  text-align: right;
  top: 0;
}

.item-photo-holder {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.upload-photo {
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  object-fit: cover;
}

.item-photo-holder:hover {
  .upload-photo {
    opacity: .65;
  }
}

.create-item-item-details {
  margin-top: 8px;
}

.create-item-description {
  box-sizing: border-box;
}

.create-item-description > textarea {
  border: 1px solid #afafaf;
  border-radius: 2px;
  font-family: "gt-america-extended-regular";
  color: #000000;
  padding: 8px;
  max-width: 324.5px;
  min-width: 324.5px;
  margin-bottom: 16px;
}

.create-item-price {
  box-sizing: border-box;
  width: 324.5px;
  margin-bottom: 8px;
}

.item-price-container {
  font-family: "gt-america-extended-regular";
  color: #757575;
  display: flex;
  flex-direction: row;
  border: 1px solid #afafaf;
  border-radius: 2px;
}

.item-price-container > p {
  width: 13px;
  padding: 8px;
}

.item-price-input::-webkit-inner-spin-button, 
.item-price-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.item-price-input-container > input {
  font-family: "gt-america-extended-regular";
  color: #000000;
  padding: 8px;
  width: 200px;
}

.create-item-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.create-item-button { // does overwrite
  flex: auto;         // create-account  
}

.submit-loading {
  position: absolute;
  top: 32.5%;
  z-index: 5;
}