// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items-index-container {
  margin: 0px auto;
  box-sizing: border-box;
}

.items-list-container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 0.69rem 4rem;
}

@media (max-width: 1260px) {
  .items-list-container {
    max-width: 1076px;
  }
}

@media (max-width: 1060px) {
  .items-list-container {
    max-width: 855px;
  }
}

@media (max-width: 840px) {
  .items-list-container {
    max-width: 640px;
  }
}

@media (max-width: 635px) {
  .items-list-container {
    max-width: 435px;
  }
}

// @media (max-width: 550px) {
//   .items-list-container {
//     max-width: 425px;
//   }
// }

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.items-index-li {
  flex: 1 0 20%;
  box-sizing: border-box;
  max-width: 195px;
  height: 204px;
  margin: 0px 4px 16px;
}

.items-index-item {
  width: 195px;
  height: 200px;
}

.item-card-link {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-item-photo {
  display: inline;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.image-grey-out {
  position: relative;
  background-color: #eeeeee;
  height: 195px;
  width: 195px;
}

.photo {
  position: absolute;
}

.hover-black {
  height: 195px;
  width: 195px;
  background-color: rgba(0, 0, 0, 0);
}

.hover-black:hover {
  background-color: black;
}

.photo:hover {
  opacity: 0.65;
}

.index-item-price {
  font-size: 12px;
  font-family: "gt-america-extended-bold";
  color: rgb(38, 38, 38);
}

.filler-items {
  width: 195px;
  margin: 0px 4px 24px 4px;
}

.LazyLoad {
  opacity: 0;
  transition: opacity 0.5s ease 0.5s;

  &.is-visible {
    opacity: 1;
  }
}

.css-fade-test {
  opacity: 0;
  animation: 0.5s ease 1s 1 normal forwards running item-index-fade;
}

@keyframes item-index-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}