// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-page-container {
  max-width: 1280px;
  margin: 0px auto;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 16px;
}

@media (max-width: 1260px) {
  .user-show-page-container {
    max-width: 1052px;
  }
}

@media (max-width: 1060px) {
  .user-show-page-container {
    max-width: 845px;
  }
}

@media (max-width: 885px) {
  .user-show-page-container {
    max-width: 640px;
  }
}

@media (max-width: 670px) {
  .user-show-page-container {
    max-width: 435px;
  }
}

.user-show-page {
  margin: 0px auto;
}

.user-show-info {
  max-width: 1280px;
  padding-left: 4px;
}

.user-show-top {
  display: flex;
  margin: 20px 0px 25px;
}

.user-show-profile-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 98px;
  height: 98px;
  background-color: rgb(153, 153, 153);
}

.user-names {
  padding-left: 20px;
}

.user-first-last {
  display: flex;
}

.user-first-last > h1 {
  font-size: 24px;
  font-family: "gt-america-extended-bold";
}

.user-last {
  margin-left: 8px;
}

.user-username {
  font-family: "gt-america-extended-regular";
  font-size: 13px;
  color: rgb(153, 153, 153);
  margin: 0px 0px 16px 0px;
}

.selling-header > h3 {
  font-size: 16px;
  font-family: "gt-america-extended-bold";
  padding: 10px 0px 10px 4px;
}

.empty-store-note {
  font-size: 20px;
  font-family: "gt-america-extended-bold";
  padding: 10px 0px 10px 4px;
  text-align: start;
}

.user-items-for-sale {
  margin: 0px;
  padding: 0px;
}

.user-show-index-item {
  padding-top: 6px;
  margin: 0px 4px 16px;
}

.user-items-index-container {
  padding: 0px;
}

.user-show-items-list {
  justify-content: space-between;
}

.follow-info {
  height: 30px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.follow-links {
  display: flex;
  align-items: center;

  height: 30px;
}

.follow-link {
  height: 30px;
  display: flex;
  align-items: center;
}

.following-link {
  margin-left: 32px;
}

.follow-link-button {
  cursor: pointer;
}

.follow-link-button > span {
  font-size: 14px;
  font-family: "gt-america-extended-regular";
}

.follow-link-button:hover {
  border-bottom: solid black 1px;
}

.follow-link-button > .follow-count {
  font-size: 14px;
  font-family: "gt-america-extended-bold";
}

.follow-count {
  margin-right: 6px;
}

.follow-button-div {
  margin-left: 32px;
}

.follow-button {
  font-size: 13px;
  font-family: "gt-america-expanded-bold";
  color: white;
  cursor: pointer;
  background-color: #3d37bd;
  transition: background-color 0.2s ease-in-out 0s;
  padding: 8px 30px 6px;
  outline: none;
  border-radius: 0.125rem;
  text-align: center;
  line-height: 1.125;
  margin-right: 6px;
}

.follow-button:hover {
  background-color: #22621a;
  transition: background-color 0.2s ease-in-out 0s;
}
