@font-face {
    font-family: 'gt_americaexpanded_bold';
    src: url('../../fonts/gt-america-expanded-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gt-america-expanded-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* /Users/owenhaupt/Desktop/Candidpop/app/assets/fonts */

@font-face {
    font-family: 'gt_americaexpanded_black';
    src: url('../../fonts/gt-america-expanded-black-webfont.woff2') format('woff2'),
         url('../../fonts/gt-america-expanded-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_americaextended_bold';
    src: url('../../fonts/gt-america-extended-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gt-america-extended-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_americaextended_regular';
    src: url('../../fonts/gt-america-extended-regular-webfont.woff2') format('woff2'),
         url('../../fonts/gt-america-extended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_americaregular';
    src: url('../../fonts/gt-america-regular-webfont.woff2') format('woff2'),
         url('../../fonts/gt-america-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}