header {
  box-sizing: border-box;
}

.nav-bar {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 23px;
  padding: 16px;
  margin: 0px auto;
}

// @media (max-width: 1260px) {
//   .nav-bar {
//     max-width: 1052px;
//   }
// }

// @media (max-width: 1060px) {
//   .nav-bar {
//     max-width: 845px;
//   }
// }

// @media (max-width: 885px) {
//   .nav-bar {
//     max-width: 640px;
//   }
// }

// @media (max-width: 670px) {
//   .nav-bar {
//     max-width: 435px;
//   }

//   .nav-right {
//     width: 170px;
//   }

//   .nav-right > ul {
//     display: flex;
//   }

//   .nav-right-child {
//     text-align: end;
//   }

//   .nav-button {
//     margin: 0px !important;
//   }
// }

.nav-left {
  color: #ff2301;
  font-family: "gt-america-expanded-black";
  font-size: 20px;
}

.nav-right {
  color: #262626;
  font-family: "gt-america-extended-bold";
  font-size: 16px;
}

.nav-right > ul {
  width: fit-content;
}

.nav-right-child {
  display: inline;
}

.nav-button {
  margin-left: 24px;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}
