.signup-master {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 366px;
  margin: 0px auto;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-h1 {
  font-size: 24px;
  font-family: "gt-america-extended-bold";
  margin-bottom: 8px;
}

.signup-p {
  font-size: 14px;
  line-height: 1.4;
  font-family: "gt-america-extended-regular";
  color: rgb(153, 153, 153);
  margin-bottom: 24px;
}

.add-profile-pic {
  display: flex;
  margin-bottom: 16px;
}

.profile-pic-legend-container {
  height: auto;
  width: fit-content;
}

.add-pic-button > input {
  cursor: pointer;
  display: block;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  text-align: right;
  top: 0;
}

.add-pic-button {
  height: 115px;
  width: 115px;
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 51%;
}

.profile-photo {
  height: 100%;
  width: 100%;
  position: relative;
}

.add-pic-button:hover {
  .profile-photo {
    opacity: .65;
  }
}

.signup-form-your-details {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'gt-america-extended-bold';
  font-size: 16px;
  margin-bottom: 16px;
}

legend {
  display: block;
  width: 100%;
  font-family: 'gt-america-extended-bold';
  font-size: 16px;
  margin-bottom: 16px;
}

.signup-form-top-row {
  display: flex;
  line-height: 48px;
  justify-content: space-between;
}

.signup-inputs {
  font-family: 'gt-america-extended-regular';
  font-size: 14px;
  border: 1px solid #afafaf;
  border-radius: 2px;
  padding: 0px 2px 0px 8px;
  width: 100%;
  vertical-align: middle;
  color: #000000;
  flex-shrink: 1;
  margin-bottom: 8px;
}

.signup-form-bottom-row {
  display: flex;
  line-height: 48px;
}

.signup-email {
  width: 100%;
  flex-grow: 1;
}

.signup-form-userpass {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'gt-america-extended-bold';
  font-size: 16px;
  margin-bottom: 16px;
}

.userpass-inputs {
  padding: 0px 2px 0px 8px;
  margin-bottom: 8px;
}

.signup-username {
  display: flex;
  line-height: 48px;
}

.signup-password {
  display: flex;
  line-height: 48px;
}

// #country-placeholder {
//   color: rgb(153, 153, 153);
// }

.signup-form-location {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 16px;
}

.country-select {
  display: flex;
  position: relative;
  border: 1px solid #afafaf;
  border-radius: 2px;
}

select {
  display: block;
  box-sizing: border-box;
  line-height: 48px;
  height: 48px;
  background-color: transparent;
  font-family: 'gt-america-extended-regular';
  font-size: 14px;
  border: none;
  padding: 0px 2px 0px 8px;
  width: 100%;
  vertical-align: middle;
  color: #000000;
}

.select:invalid {
  color: #757575;
}

.signup-form-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-form-left {
  display: flex;
  font-family: "gt-america-extended-regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.signup-form-left > input {
  margin: 4px 8px 0px 0px;
}

.signup-h2 {
  margin-bottom: 8px;
  font-family: 'gt-america-extended-bold';
  font-size: 18px;
  line-height: 1.2em;
}

.terms-holder {
  margin-bottom: 8px;
}

.signup-terms {
  font-family: "gt-america-extended-regular", Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
}

.h6 {
  text-align: center;
  font-family: "gt-america-standard-regular", Arial, sans-serif;
  font-size: 12px;
  color: rgb(175, 175, 175);
  margin: 0px auto 32px;
}

.signup-form-terms {
  margin-bottom: 16px;
  box-sizing: border-box;
  display: block;
}

.signup-form-link {
  font-size: 14px;
  font-family: 'gt-america-extended-regular';
  color: rgb(38, 38, 38);
  display: inline-block;
  text-decoration: underline;
}

.link-2 {
  margin-left: 32px;
}

.create-account-button {
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  background-color: rgb(38, 38, 38);
  border-color:  rgb(38, 38, 38);
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 6px;
  margin: 8px 0px;
  transition-property: background-color, border-color;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  font-family: 'gt-america-extended-bold';
}

.create-account-button:hover {
  background-color: #595959;
  border-color: #595959;
}