.login-holder {
  box-sizing: border-box;
  max-width: 440px;
  margin: 0px auto;
  padding: 80px 24px;
  display: block;
}

h1 {
  margin-bottom: 8px;
  font-family: 'gt-america-extended-bold';
  font-size: 18px;
  line-height: 1.2em;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-display-block {
  display: block;
  flex-shrink: 1;
}

.login-form-data {
  line-height: 48px;
  display: flex;
}

.login-form-data > input {
  border: 1px solid #afafaf;
  border-radius: 2px;
  padding: 0px 2px 0px 8px;
  width: 100%;
  font-size: 16px;
  vertical-align: middle;
  margin-bottom: 8px;
  color: #000000;
  font-family: 'gt-america-extended-regular';
  flex-shrink: 1;
}

.errors-div {
  font-size: 14px;
  font-family: 'gt-america-regular';
  color: #ff2300;
}

.button {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 6px;
  margin: 8px 0px;
  transition-property: background-color, border-color;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  font-family: 'gt-america-extended-bold';
}

.login-button {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 38, 38);
  border-color:  rgb(38, 38, 38);
  margin-bottom: 24px;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}

.login-button:hover {
  background-color: #595959;
  border-color: #595959;
}

.signup-and-guest-section {
  width: 100%;
  border-top: 1px solid rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button {
  width: inherit;
  color: rgb(0,0,0);
  background-color: #FFFFFF;
  border-color: black;
  margin-top: 18px;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-shrink: 1;
}

.signin-guest-button {
  width: inherit;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: #4A66A0;
  border-color: #4A66A0;
  margin-top: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

.signin-guest-button:hover {
  background-color: #889dc8;
  border-color: #889dc8;
}


.or-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}

.or {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -11px;
  color: rgb(38, 38, 38);
  font-size: 12px;
  background: rgb(255, 255, 255);
  padding: 3px 7px;
  z-index: 10;
}

.login-button-container {
  position: relative;
  width: 100%;
}

.guest-button-container {
  width: 100%;
  position: relative;
  height: 16px;
}

.guest-loading {
  position: absolute;
  top: 73.5%;
  left: 48%;
  z-index: 5;
  height: 100%;
}